#### sklearn.preprocessing.LabelEncoder

* class sklearn.preprocessing.LabelEncoder

In [11]:
from sklearn.preprocessing import LabelEncoder 
import numpy as np

items = ['TV','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']

# lableEncoer를 객체로 생성한 후, fit과 transform 으로 label 인코딩 수행
encoder = LabelEncoder()
encoder.fit(items)

labels = encoder.transform(items)
print(f'인코딩 변환값 : {labels}')
print('인코딩 클래스 : ',encoder.classes_)

인코딩 변환값 : [0 3 4 2 2 1 1]
인코딩 클래스 :  ['TV' '믹서' '선풍기' '전자렌지' '컴퓨터']

In [10]:
encoder.inverse_transform([1,1,1,2,3,4,])

array(['믹서', '믹서', '믹서', '선풍기', '전자렌지', '컴퓨터'], dtype='<U4')

#### sklearn.preprocessing.OneHotEncoder
* class sklearn.preprocessing.OneHotEncoder(*, categories='auto', drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error', min_frequency=None, max_categories=None)

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [18]:
#items = [['TV', 1], ['전자렌지', 2], ['컴퓨터', 3], ['선풍기', 4], ['선풍기', 4], ['믹서', 5], ['믹서', 5]]
# items = np.array(items).reshape(1, -1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(items)
oh_labels = oh_encoder.transform(items)

print('원 - 핫 인코딩 데이터 : ', oh_labels.toarray())
print('원 - 핫 인코딩 데이터 차원 : ', oh_labels.shape)

원 - 핫 인코딩 데이터 :  [[1. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 1.]]
원 - 핫 인코딩 데이터 차원 :  (7, 10)

In [25]:
from sklearn.preprocessing import LabelEncoder 
import numpy as np

items = ['TV','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']

#items = [['TV', 1], ['전자렌지', 2], ['컴퓨터', 3], ['선풍기', 4], ['선풍기', 4], ['믹서', 5], ['믹서', 5]]
#items_1 = [['TV', 1], ['전자렌지', 2], ['컴퓨터', 3], ['선풍기', 4], ['믹서', 5]]

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
labels = labels.reshape(-1,1)

# type(labels)
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

print('원 - 핫 인코딩 데이터 : ', oh_labels.toarray())
print('원 - 핫 인코딩 데이터 차원 : ', oh_labels.shape)

원 - 핫 인코딩 데이터 :  [[1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 1. 0. 0. 0.]]
원 - 핫 인코딩 데이터 차원 :  (7, 5)

In [28]:
import pandas as pd

df = pd. DataFrame({'items': ['TV','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']})
df

  items
0    TV
1  전자렌지
2   컴퓨터
3   선풍기
4   선풍기
5    믹서
6    믹서

In [30]:


encoder = LabelEncoder()
encoder.fit(df['items'])
labels = encoder.transform(df['items'])
labels = labels.reshape(-1,1)
labels

array([[0],
       [3],
       [4],
       [2],
       [2],
       [1],
       [1]])

In [34]:
import pandas as pd

df = pd. DataFrame({'items': ['TV','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']})
pd.get_dummies(df['items']).iloc[:, 0]

   TV  믹서  선풍기  전자렌지  컴퓨터
0   1   0    0     0    0
1   0   0    0     1    0
2   0   0    0     0    1
3   0   0    1     0    0
4   0   0    1     0    0
5   0   1    0     0    0
6   0   1    0     0    0

In [35]:
pd.get_dummies(df['items']).iloc[:, 0]

0    1
1    0
2    0
3    0
4    0
5    0
6    0
Name: TV, dtype: uint8

In [37]:
items = ['TV','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']
items = np.array(items).reshape(-1,1)

oh_encoder = OneHotEncoder()
oh_encoder.fit(items)
oh_labels = oh_encoder.transform(items)
print('원 - 핫 인코딩 데이터 : ', oh_labels.toarray())
print('원 - 핫 인코딩 데이터 차원 : ', oh_labels.shape)

원 - 핫 인코딩 데이터 :  [[1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 1. 0. 0. 0.]]
원 - 핫 인코딩 데이터 차원 :  (7, 5)