In [92]:
# pandas 이용해서 csv 파일 읽어오기
import pandas as pd

df_titanic = pd.read_csv('./datasets/titanic_train.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [93]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [94]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [95]:
# feature 및 label 선택. loc 활용.

#case 1 
#df_titanic = df_titanic.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Fare', 'Ticket', 'Cabin', 'Embarked'], axis=1)

df_titanic = df_titanic.loc[:,['Survived','Sex', 'Age', 'Pclass']]
df_titanic

     Survived     Sex   Age  Pclass
0           0    male  22.0       3
1           1  female  38.0       1
2           1  female  26.0       3
3           1  female  35.0       1
4           0    male  35.0       3
..        ...     ...   ...     ...
886         0    male  27.0       2
887         1  female  19.0       1
888         0  female   NaN       3
889         1    male  26.0       1
890         0    male  32.0       3

[891 rows x 4 columns]

In [96]:
# feature를 X로, y를 lable로 저장

X = df_titanic.drop('Survived', axis =1)
X

        Sex   Age  Pclass
0      male  22.0       3
1    female  38.0       1
2    female  26.0       3
3    female  35.0       1
4      male  35.0       3
..      ...   ...     ...
886    male  27.0       2
887  female  19.0       1
888  female   NaN       3
889    male  26.0       1
890    male  32.0       3

[891 rows x 3 columns]

In [97]:
y = df_titanic['Survived'] 
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [98]:
# 결측치 처리

X['Age'].fillna(method= 'ffill', inplace=True)
X.isna().sum()

Sex       0
Age       0
Pclass    0
dtype: int64

In [99]:
# lable encoding 하기. Sex가 문자열이기 때문에 숫자로 바꿔줌. LableEcncoder

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     891 non-null    object
 1   Age     891 non-null    float64
 2   Pclass  891 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 21.0+ KB

In [100]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
labels = encoder.fit_transform(X['Sex'])
X['Sex'] = labels

X

     Sex   Age  Pclass
0      1  22.0       3
1      0  38.0       1
2      0  26.0       3
3      0  35.0       1
4      1  35.0       3
..   ...   ...     ...
886    1  27.0       2
887    0  19.0       1
888    0  19.0       3
889    1  26.0       1
890    1  32.0       3

[891 rows x 3 columns]

In [101]:
    # 피쳐 스케일링. MinMaxScaler를 이용해서 Age를  스케일링.
import numpy as np    
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
age = np.array(X['Age']).reshape(-1, 1)
age = scaler.fit_transform(age)
X['Age'] = age
X

     Sex       Age  Pclass
0      1  0.271174       3
1      0  0.472229       1
2      0  0.321438       3
3      0  0.434531       1
4      1  0.434531       3
..   ...       ...     ...
886    1  0.334004       2
887    0  0.233476       1
888    0  0.233476       3
889    1  0.321438       1
890    1  0.396833       3

[891 rows x 3 columns]

In [102]:
X.describe()

              Sex         Age      Pclass
count  891.000000  891.000000  891.000000
mean     0.647587    0.366443    2.308642
std      0.477990    0.182893    0.836071
min      0.000000    0.000000    1.000000
25%      0.000000    0.246042    2.000000
50%      1.000000    0.346569    3.000000
75%      1.000000    0.472229    3.000000
max      1.000000    1.000000    3.000000

In [103]:
# DecisionTreeClassifier와 cross_val_score를 활용한 학습. cv = 5


from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score, cross_validate 

dt_clf = DecisionTreeClassifier(random_state=121)
scores = cross_val_score(dt_clf, X, y, scoring='accuracy', cv=5)

In [104]:
scores.mean()

0.7889962965287804

In [105]:
print(f'교차 검증별 정확도: {np.round(scores, 4)}')
print(f'평균 검증 정확도: {np.round(np.mean(scores), 4)}')

교차 검증별 정확도: [0.7933 0.7865 0.7865 0.7697 0.809 ]
평균 검증 정확도: 0.789

In [106]:
# 예측 및 평가/  predict를 위한 titanic_test 데이터 전처리  


df_titanic_test = pd.read_csv('./datasets/titanic_test.csv')
df_titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [107]:
# features ['Sex', 'Age', 'Pclass'] 선택
X_test = df_titanic_test.loc[:,['Sex', 'Age', 'Pclass']]

# Age 결측치 처리
X_test['Age'].fillna(method= 'ffill', inplace=True)

# 레이블을 인코딩하는 것. 1,2,3 등 이용해서 하는 것.
encoder = LabelEncoder()
labels = encoder.fit_transform(X_test['Sex'])
X_test['Sex'] = labels

# Age MinmaxScaler를 활용한 정규화

scaler = MinMaxScaler()
age = np.array(X_test['Age']).reshape(-1, 1)
age = scaler.fit_transform(age)
X_test['Age'] = age

In [108]:
X_test

     Sex       Age  Pclass
0      1  0.452723       3
1      0  0.617566       3
2      1  0.815377       2
3      1  0.353818       3
4      0  0.287881       3
..   ...       ...     ...
413    1  0.367005       3
414    0  0.512066       1
415    1  0.505473       3
416    1  0.505473       3
417    1  0.505473       3

[418 rows x 3 columns]

In [109]:
# 예측 및 평가

from sklearn.model_selection import cross_val_predict

dt_clf.fit(X, y)
pred = dt_clf.predict(X_test)
pred

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [110]:
# gridSearch 활용예측

from sklearn.model_selection import GridSearchCV

dt_clf = DecisionTreeClassifier(random_state=121)
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2,3]}
grid_dtree = GridSearchCV(dt_clf,param_grid=parameters, cv=5,refit=True)

# titanix Train 데이터로 param_grid의 하이퍼 파라미터들을 순차적으로 학습/평가

grid_dtree.fit(X, y)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=121),
             param_grid={'max_depth': [1, 2, 3], 'min_samples_split': [2, 3]})

In [111]:
grid_dtree.best_estimator_

DecisionTreeClassifier(max_depth=1, random_state=121)

In [112]:
best_dt_clf = grid_dtree.best_estimator_

In [113]:
pred = best_dt_clf.predict(X_test)

In [114]:
from sklearn.metrics import accuracy_score
import pandas as pd

y_df = pd.read_csv('./datasets/gender_submission.csv')

y_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [115]:
y_test =y_df['Survived']
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [116]:
accuracy_score(y_test, pred)

1.0